.container-header{
  width: auto;
  height: 56px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  gap: 100px;
  align-items: center;
}

.nav-principal{
  margin: auto;
  width: 400px;
  height: 40px;
  display: inline-block;
}

.menu{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

.container-search{
  display: flex;
  align-items: center;
}

.container-search input{
  width: 357px;
  height: 41px;
  font-size: 16px;
  border: solid 1px #ccc;
}

.container-search button{
  height: 41px;
  font-size: 18px;
  border: solid 0.1 #cccccc inside;
  background-color: white;
  width: 43px;
  border: 0.1px solid #ccc;
}

.avatar{
  gap: 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 15px;
}

.avatar >i{
  font-size: 24px;
}

main{
 
  width: auto;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.principal-container{
  width: 65%;
  height: auto;
  margin: 0px 40px;
  border: none;
}

.principal-container>h1{
  font-size: 22px;
  padding-top: 10px;
}


.video-principal{
  width: 100%;
  height: 500px;
  border-radius: 20px;
}

.container-avaliacao{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 12px;
}

.avaliacao{
  width: 160px;
  height: 40px;
  
}

.canal{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.texto-canal{
  padding-left: 5px;
}

.texto-canal>h2{
  font-size: 14px;
}

.texto-canal>p{
  font-size: 12px;
  color: #515151;
}

.button-inscrever{
  background-color: #FF0000;
  text-align: center;
  color: white;
  font-size: 14px;
  border: none;
}

.icons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: bold;

}

.principal-container>h3{
  padding-top: 12px;
  font-size: 16px;
  font-weight: 700;
}
.principal-container>p{
  width: 550px;
  padding-top: 12px;
  font-size: 14px;
  color: #515151;
}


.container-lista{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 25%;
}

.video-item{
  width: 58%;
  height: 100px;
}

.video-item>iframe{
  width: 160px;
  height: 100%;
}

.lista-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.texto-item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;

}

.texto-item>h3{
  font-size: 14px;
}

.texto-item>p{
  font-size: 12px;
}
